# Set gcloud Python version.
# Supported versions are Python 3 (3.5 to 3.9). https://cloud.google.com/sdk/docs/install-sdk
# set -gx CLOUDSDK_PYTHON /usr/local/bin/python3.9

# add the Google Cloud SDK command line tools to your $PATH.
source "$(brew --prefix)/share/google-cloud-sdk/path.fish.inc"

# gcloud completion is done by the fisher plugin: https://github.com/lgathy/google-cloud-sdk-fish-completion